/* RESET CSS -- See: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline: 0;}
body{line-height:1;color:black;background:white;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}

body
{
	background: #fff;
	color: #333;
	font: 10pt "Lucida Sans Unicode" , "Lucida Grande" , sans-serif;
	line-height: 1.5em;
	text-align: center;
}

h1, h2, h3
{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	background-repeat: no-repeat;
	background-image: url(../images/headers-lc.png);
}
h1 span, h2 span, h3 span { display:block; visibility:hidden; }

a:link
{
	color: #0066b3;
	text-decoration: none;
}
a:visited
{
	color: #00487d;
	text-decoration: none;
}
a:hover
{
	color: #80c9ff;
	text-decoration: underline;
}
a:active { color: #bfe4ff; }


p { margin-top: 1.5em; }
p:first-child {	margin-top: 0.75em; }

.clear { clear:both; }
.hidden { display: none; }
.clickable { cursor: pointer; }
/*.loading { background: url(../images/loading.gif) no-repeat center center; }*/

#wrapper
{
	width: 960px;
	margin:0 auto;
	text-align: left;
	position:relative;
}

#header
{
	margin:25px 50px;
	height:50px;
}
#header h1
{
	float: left;
	font-size: 16pt;
	width: 330px;
	background-position: 0 0;
	height: 50px;
}
#header h2
{
	float: left;
	font-size: 9pt;
	width: 154px;
	margin: 25px 0 0 9px;
	background-position: 0 -50px;
	height: 25px;
}

#content
{
	float: left;
	clear: left;
	width: 493px;
	padding: 0 50px;
}
#content.loading
{
	height: 248px;
}

#content div
{
	padding: 0 0 1.5em;
}
#content div div
{
	padding: 0;
}

#content h3, #content h3.inactive
{
	margin: 0;
	padding:0;
	font-size: 12pt;
	border-bottom: 1px solid #ddd;
	height:25px;
	line-height:25px;
}
#content h3.inactive { cursor:pointer; }
#content #about-us h3.inactive
{
	background-position: 0 -75px;
}
#content #about-us h3, #content #about-us h3:hover
{
	background-position: left -100px;
}
#content #brands-serviced h3.inactive
{
	background-position: left -125px;
}
#content #brands-serviced h3, #content #brands-serviced h3:hover
{
	background-position: left -150px;
}
#content #contact-details h3.inactive
{
	background-position: left -175px;
}
#content #contact-details h3, #content #contact-details h3:hover
{
	background-position: left -200px;
}
#content h3.inactive
{
	cursor: pointer;
}

#brands-serviced table
{
	margin: 0.25em 15px 0;
}
#brands-serviced td
{
	text-align: left;
	background: url(../images/note.gif) no-repeat left 5px;
	padding: 0 25px 0 15px;
	vertical-align: top;
}

#contact-details dl
{
	margin: 0.25em 0 0;
}
#contact-details dt { display:none; }
#contact-details dd
{
	margin-left:15px;
	padding-left: 15px;
	background-position:0 0.4em;
	background-repeat:no-repeat;
}
dd.name
{
	background-image:url(../images/name.gif);
}
dd.address
{
	background-image:url(../images/home.gif);
}
dd.phone
{
	background-image:url(../images/phone.gif);
}
dd.mobile
{
	background-image:url(../images/mobile.gif);
}
dd.email
{
	background-image:url(../images/mail.gif);
	background-position:0 0.5em !important;
}

#sidebar
{
	position:absolute;
	left:593px;
	top:100px;
	width: 367px;
}
#sidebar img
{
	margin: 0 0 25px;
	border: 1px solid #ddd;
	padding: 4px;
}

#footer
{
	clear: both;
	padding: 0 50px 1em;
	color: #999;
	font-size: 8pt;
	line-height: 1.25em;
}

@media print
{
	body
	{
		font-size: 9pt;
	}
	p { margin-top: 0.75em !important; }
	h1, h2 
	{ 
		display:block;
		background:#fff;
		float:none !important;
		width:auto !important; 
		height:auto !important;
		margin:0 !important;
		padding:0 !important;
	}
	h1, h2, h3
	{
		line-height:1.5em;
	}
	h1 span, h2 span, h3 span { visibility:visible; }
	#footer
	{
		font-size: 7pt;
		margin:1em 0 0;
		padding:0;
	}
	#wrapper
	{
		width: auto;
		margin:25px 50px;
	}
	#header 
	{
		height:auto; 
		margin:0 0 1em;
	}
	#content
	{
		float: none;
		clear: none;
		width: auto;
		padding:0;
	}
	#sidebar
	{
		display: none;
	}

	#content div div
	{
		display: block !important;
		height:auto !important;
	}
	#contact-details dt
	{
		display: block;
		font-weight:bold;
	}
}

strong { font-weight: bold; }